/*===============PAGINA INDEX================*/
#menu li > a{
  font-size: 18px;
  font-weight: bold;
  color: #3f3f3f;
}
#menu form > button{
  font-size: 18px;
  font-weight: bold;
}
.mapa{
  background-image: url(../imagenes/mapa.png);
  width: 100%;
  height: 300px;
}
#local{
  background-color: #f3f3f3;
  padding-bottom: 300px;
  display: flex;
  justify-content: center;
}
.tituloDormitorios h3 a{
  text-decoration: none;
  color: #000;
}
.wrapper{
  margin-left: 20px;
  padding-top: 50px;
  margin-bottom: 50px;
}
#numeroLocal div{
  padding: 0 20px 0 0;
  height: 48px;
}
#numeroLocal div:not(:last-child){
  border-right: 2px solid #3f3f3f;
}
#numeroLocal div:not(:first-child){
  padding-left: 20px;
}
#numeroLocal p{
  margin: 0;
}
footer {
  background: #1b2a4e;
  min-height: 100px;;
}
footer p{
  color:#f3f3f3;
  text-align:center;
}
#iconos  i {
  font-size: 26px;
  padding: 0 8px;
  color:#f3f3f3;
}
@media (max-width: 768px){
  #introduccion{
      width: 90% !important;
  }
  .serviciosFila{
      width: 100% !important;
      text-align: center;
  }
}
@media(max-width: 576px){
  .icono-wrap{
      flex-wrap: wrap;
      justify-content: center !important;
  }
}
@media(max-width: 1200px){
  #local{
      flex-wrap: wrap;
      padding-top: 30px;   
  }
  .wrapper{
      width: 90%;
      margin: auto;
      padding-top: 50px;
  }
}
/*===============PAGINA DE CONTACTO================*/




/*===============PAGINA DE NOSOTROS================*/
.nosotrosImagenesDos{
  width: 250px;
  height: 200px;
}
.nosotrosImagenes{
  background-image: linear-gradient(0deg, #0005, #0005),
      url(../imagenes/livin.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
/*===============PAGINA DE PRODUCTOS================*/