footer {
    background-color: $naranjaOscuro;
    min-height: 100px;
    p{
        color:#f3f3f3;
        text-align: center;
        padding-top: 3px;

      }
      #iconos  i {
        font-size: 20px;
        padding: 0 8px;
        color:#f3f3f3;
      }
  }